.car {
  padding-top: 213px;
}

.progress {
  background: linear-gradient(
    to right,
    #ff9514 0%,
    #ff9514 40%,
    #fff 40%,
    #fff 100%
  );
  border: solid 0px #ff9514;
  // border-radius: 8px;
  height: 2px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ff9514;
}

.car__title {
  max-width: 753px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
}

.car__form {
  padding-top: 32px;
  padding-bottom: 51px;
  display: flex;
  justify-content: space-between;
}
.form__wrap {
  min-width: 427px;
}

.form__output {
  position: relative;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f4;
  border-radius: 16px;
  max-width: 427px;
  height: 68px;
}

.form__count {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}

.form__rub {
  margin-right: 24px;
}

.form__progress {
  position: absolute;
  top: 64px;
  left: 3%;
}

.form__result {
  max-width: 152px;
  background-color: rgba(0, 0, 0, 0);
  // margin-left: 24px;
  width: 100%;
  border: 0px solid #ced4da;
  position: relative;
  padding-left: 24px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}
.form__result_max {
  max-width: 168px;
}
input {
  outline: none;
}
// .form__result_input {
//   position: relative;
// }
// .form__output::after {
//   content: '₽';
//   position: absolute;
//   top: 19px;
//   left: 9%;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 145%;
//   color: #b5b7bc;
// }

.form__rub {
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: right;
  color: #575757;
}

.form__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__span_month {
  margin-right: 19px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}
.form__span_percent {
  margin-right: 22px;
  color: #575757;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
}
.sum__item {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
}

.sum__span {
  margin-left: -18px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333333;
}

.sum__rub_month {
  margin-left: -38px;
}
// .sum__span {
//   margin-left: -49px;
// }
.car__sum {
  display: flex;
  justify-content: space-between;
}
.button {
  border-radius: 100px;
  display: block;
}
.button-market {
  margin-left: 4px;
  margin-top: 9px;
  padding: 17px 92px;
  // border: 1px solid #ff9514;
  text-align: center;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  background: #ff9514;
  border-radius: 40px;
  transition: 0.4s;
}

.button-market:hover {
  background: #111111;
}
.button-market:active {
  background: #575757;
}
.button-market:disabled {
  background: rgba(255, 149, 20, 0.4);
}

.sum__wrap {
  min-width: 427px;
}

input[type='range']::-webkit-slider-thumb:hover {
  // background-color: #ff9514;
  border: 1px solid #ff9514;
  transform: scale(1.3);
}
input[type='range']::-webkit-slider-thumb:active {
  transform: scale(1);
}

.sum__total {
  max-width: 422px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: 0px solid #ced4da;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333;
}
.sum__item-span {
  position: relative;
}
.sum__item-label::after {
  content: '₽';
  position: absolute;
  top: 5px;
  left: 53%;
  color: #b5b7bc;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333;
}
.sum__item-rub::after {
  content: '₽';
  position: absolute;
  top: 5px;
  left: 55%;
  color: #b5b7bc;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333;
}
